@model CafeDomain.Model.Product

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group mb-3">
        <label asp-for="Description" class="control-label">Назва та опис страви</label>
        <input asp-for="Description" class="form-control" placeholder="Щось" />
        <span asp-validation-for="Description" class="text-danger"></span> </div>

    <div class="form-group mb-3">
        <label asp-for="Price" class="control-label">Ціна(грн)</label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group mb-3">
        <label class="control-label">Оберіть категорії</label>
        <select name="selectedCategories" class="form-control" asp-items="ViewBag.Categories" multiple="multiple"></select>
        <small class="form-text text-muted">Утримуйте Ctrl (або Cmd на Mac), щоб вибрати кілька категорій.</small>
    </div>

    <button type="submit" class="btn btn-dark">Додати в меню</button>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
