@model IEnumerable<CafeDomain.Model.Product>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h2 class="my-4">Меню нашого кафе🐈‍⬛ </h2>

    <form asp-action="Index" method="get" class="row g-3 mb-4 p-3 bg-light rounded">
        <div class="col md-4">
            <input type="text" name="searchString" class="form-control" placeholder="Пошук чогось смачненького..." />
        </div>
        <div class="col-md-3">
            <select name="categoryId" asp-items="ViewBag.Categories" class="form-control">
                <option value="">Усі категорії</option>
            </select>
        </div>
        <div class="col-md-3">
            <input type="number" name="maxPrice" class="form-control" placeholder="Макс.ціна">
        </div>
        <div class="col md-2">
            <button type="submit" class="btn btn-dark w-100">Знайти</button>
        </div>
    </form>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 shadow-sm">
                    <img src="@item.Photo" class="card-img-top" alt="Смакота" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Description</h5>
                        <p class="card-text text-primary fw-bold">@item.Price грн</p>
                        <a asp-controller="Cart" asp-action="Add" asp-route-productId="@item.Id" class="btn btn-success w-100">В кошик 🛒</a>
</div>
                </div>
            </div>
        }

    </div>
</div>
