@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-cafe-brown: #4a3728;
    --color-cafe-cream: #fdf5e6;
    --color-cafe-gold: #d4af37;
}

 [data-theme="blackcat"] {
    --p: 31 35% 25%;
    --s: 45 93% 47%;
    --a: 0% 0% 10%;
    --b1: 40 30% 95%;
    --rounded-btn: 0.5rem;
}

@layer base{
    body {
        @apply bg-cafe-cream text-cafe-brown min-h-screen font-sans;
    }

    h1,h2,h3{
        @apply font-serif font-bold tracking-tight;
        }
    }

@layer components{
    .cafe-card {
        @apply card bg-base-100 shadow-xl hover:shadow-2xl transition-all duration-300 border border-transparent hover:border-cafe-gold ;
    }

    .btn-add-to-cart {
        @apply btn-primary gap-2 hover:scale-105 active:scale-95 transition-transform;
    }
}
